use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :phoenix_example, PhoenixExample.Endpoint,
  secret_key_base: "{{ phoenix_secret_key_base }}"

# Configure your database
config :phoenix_example, PhoenixExample.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ phoenix_database_user }}",
  password: "{{ phoenix_database_password }}",
  database: "{{ phoenix_database }}",
  pool_size: 20
